html{
    background-attachment: fixed;
    background-image: url("https://felipetci.github.io/exercicios-html-css/imagens/plano-de-fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
